body{
    margin:0;
    font-family: 'Space Mono' , monospace;
    line-height: 1.6;
    color: #31ff31;
    background-color: #111;
    overflow-x: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('images/planoroxo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-left: 2px solid #31ff31;
    border-right: 2px solid #31ff31;
}

.header{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:rgb(0, 0, 0);
    padding: 30px 50px;
    z-index:1000;
    box-sizing: border-box;
    border: 3px solid #31ff31;
    border-radius: 8px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size:35px;
    font-weight:600;
    letter-spacing:2px;
    font-family: 'Silkscreen' , sans-serif;
    letter-spacing: -2px;
  }

  .logo-emoji {
    width: 50px;
    height: auto;
    filter: drop-shadow(0 0 5px #39ff14);
  }

.menu a{
    margin-left:30px;
    text-decoration:none;
    color: #31ff31;
    font-size:14px;
    transition:0.3s;
}

.menu a:hover{
    opacity: 1.5;
    color: rgb(255, 255, 255);
}

.conteudo-principal {
    max-width: 1000px;
    margin: 40px;
    padding: 0 30px;
}

h2 {
    font-family: 'Silkscreen' , sans-serif;
}

.sobre p {
    color: #a2fca2;
    max-width: 800px;
}

.layout-split {
    display: flex;
    gap: 50px;
    align-items: stretch;
}

.sobre {
    flex: 2;
    background-color: #111;
    padding: 30px;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
    font-family: 'Spacemono' , monospace;
    font-size: 1rem;
    line-height: 1.6;
}

.status-mundo {
    flex: 1;
    border: 1px solid #31ff31;
    padding: 20px;
    background: rgba(49, 255, 49, 0.05);
    font-family: 'Spacemono' , monospace;
}

.status-mundo h3 {
    font-family: 'Silkscreen' , sans-serif;
    font-size: 1.2rem;
    margin-bottom: 20px;
    border-bottom: 1px solid #31ff31;
}

.barra {
    width: 100%;
    height: 10px;
    border: 1px solid #31ff31;
    margin-top: 5px;
}

.progresso {
    height: 100%;
    background-color: #31ff31;
    box-shadow: 0 0 10px #31ff31;
}

.alerta {
    color: #ff3131; /* Um vermelho pra constraste de aviso */
    font-weight: bold;
    margin-top: 20px;
    font-size: 0.8rem;
}

.arte-hero {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin: 40px 0;
    max-width: 500px;
    position: relative;
    padding-left: 50px;
}

.imagem-caos {
    width: 100%;
    height: auto;
    filter: drop-shadow(0 0 15px rgba(255, 255, 0, 0.6));
    animation: neonPulse 2s infinite alternate;
}

@keyframes neonPulse {
    from {
        filter: drop-shadow(0 0 15px rgba(255, 255, 0, 0.6));
    }
    to {
        filter: drop-shadow(0 0 25px rgba(255, 255, 0, 0.85));
    }
}

.container-interacao {
    display: flex;
    flex-direction: column; /* coloca um embaixo do outro*/
    gap: 20px;
    margin-left: -40px;
    margin-top: 30px;
}

.balao-fala {
    position: relative;
    background-color: #000;
    border: 3px solid #31ff31;
    padding: 25px 30px;
    min-width: 300px;
    max-width: 450px;
    box-shadow: 0 0 15px rgba(49, 255, 49, 0.4);
}

.balao-fala p {
    color: #31ff31;
    font-family: 'Silkscreen' , sans-serif;
    font-size: 1rem;
    margin: 0;
    line-height: 1.8;
    text-transform: uppercase;
}

.botao-caos {
    display: flex; /* faz o link se comportar como um bloco*/
    border: 3px solid #31ff31;
    color: #31ff31;
    padding: 10px 20px;
    font-family: 'Silkscreen' , sans-serif;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
    align-items: center;
    justify-content: center;
    height: 55px;
    background-color: #000;
}

.botao-caos:hover {
    background: #31ff31;
    color: #000;
}

.painel-drones {
    position: absolute;
    top: 208px;
    right: 150px;
    border: 3px solid #31ff31;
    padding: 30px;
    background: #000;
    color: #31ff31;
    font-family: 'Silkscreen' , sans-serif;
    font-size: 0.7rem;
    text-align: center;
    width: 300px;
    box-shadow: 0 0 15px rgba(49, 255, 49, 0.4);
    z-index: 100;
}

.painel-drones p {
    font-size: 0.9rem;
    line-height: 1.6;
    margin: 10px 0;
}

.radar-ponto {
    width: 112px;
    height: 113px;
    border: 3px solid #31ff31;
    border-radius: 50%;
    margin: 0 auto 20px auto;
    position: relative;
    overflow: hidden;
}

.radar-ponto::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 50%;
    background: rgba(49, 255, 49, 0.3);
    top: 0;
    left: 0;
    transform-origin: bottom right;
    animation: girarRadar 2s linear infinite;
}

@keyframes girarRadar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    padding: 30px 50px;
    box-sizing: border-box;
    border: 3px solid #31ff31;
    border-radius: 8px;
    margin-top: 40px;
}

footer p {
    color: #31ff31;
    font-family: 'Silkscreen', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0;
}