.blur-active {
    filter: blur(20px);
    pointer-events: none; /* impede cliques no menu ou nos botoes */
    user-select: none; /* esse impede o usuario de copiar texto */
    transition: filter 0.8 ease;
}

 /* estilo pro modelo de idade */
#modal-idade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10000; /* pra ficar acima de tudo */
}

/* estilo do botao de confirmacao */
.modal-content {
    text-align: center;
    color: #fff;
    padding: 20px;
    border: 2px solid #000;
}

#input-idade {
    background-color: #000;
    color: #31ff31;
    border: 2px solid #31ff31;
    padding: 15px;
    font-size: 1.5rem;
    width: 100%;
    max-width: 300px;
    font-family: 'Spacemono', monospace;
    text-align: center;
    outline: none;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#input-idade::placeholder {
    color: rgba(49, 255, 49, 0.5);
    font-size: 1.2rem;
}

#container-entrada {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}