:root {
 --neon-principal: #fff700;  
 --neon-suave: #d4ff00; /* o verde claro dos textos */
 --fundo-dark: #f2ff00; /* o preto do body */
 --fundo-caixa: #878787; /* o cinza escuro das caixas */
 --fundo-input: #707070; /* o fundo preto puro dos input */
 --borda-input: #000000; /* o cinza das bordas desativadas */
 --fundo-negro: rgb(24, 24, 24); /* fundo header */
 --titulo-jogoarea: #000000;

  /* efeitos glow */
  --sombra-neon: 0 0 15px rgb(255, 238, 0);
  --sombra-botao: #ffd000; /* o brilho forte do botao */
  --sombra-radar: rgb(255, 255, 255); /* parte que gira no radar */
  --cor-botaojogar: #ffffff;
  --cor-hover-menu: #ffffa6;
  --cor-cisnenegronome: #000000;
  --sombradotexto:rgba(255, 255, 255, 0.7);
}

.lightmode {
 --neon-principal: #31ff31;  
 --neon-suave: #a2fca2; /* o verde claro dos textos */
 --fundo-dark: #111; /* o preto do body */
 --fundo-caixa: #1a1a1a; /* o cinza escuro das caixas */
 --fundo-input: #000000; /* o fundo preto puro dos input */
 --borda-input: #333333; /* o cinza das bordas desativadas */
 --fundo-negro: rgb(0, 0, 0); /* fundo header */

  /* efeitos glow */
  --sombra-neon: 0 0 15px rgba(49, 255, 49, 0.2);
  --sombra-botao: #31ff31; /* o brilho forte do botao */
  --sombra-radar: rgba(49, 255, 49, 0.3); /* parte que gira no radar */
  --cor-botaojogar: #ff9900;
  --cor-hover-menu: #ffff00;
  --cor-cisnenegronome: #00ff00;
  --sombradotexto:rgba(49, 255, 49, 0.7);
  --titulo-jogoarea: #a2fca2;
}

#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--neon-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: var(--fundo-negro);
}

#theme-switch i {
    fill: var(--neon-principal);
}

#theme-switch i:last-child {
    display: none;
}

.lightmode #theme-switch  i:first-child {
    display: none;
}

.lightmode #theme-switch i:last-child {
    display: block;
}

#theme-switch:hover {
    box-shadow: var(--sombra-botao);
    transform: scale(1.1);
    transition: 0.3s;
}
 /* inicio da main, estilizando em estilo de coluna */
.container-jogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 150px;
    padding: 40px;
}
/* primeira caixa na pagina */
.caixa-mensagem {
    background-color: var(--fundo-negro);
    border: 2px solid var(--sombra-botao);
    color: white;
    padding: 40px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 20px 5px var(--sombra-botao);
    max-width: 600px;
}
/* titulo na caixa */
.caixa-mensagem h2 {
    font-family: 'Silkscreen', sans-serif;
    color: var(--neon-principal);
    margin-bottom: 15px;
    text-transform: uppercase;
}
/* texto dos paragrafos */
.caixa-mensagem p {
    font-family: 'Spacemono', monospace;
    letter-spacing: 1px;
    color: var(--neon-suave);
}
/* caixa onde fica o jogo */
.caixa-jogo {
    background-color: var(--fundo-dark);
    border: 3px solid var(--sombra-botao);
    border-radius: 10px;
    width: 90%;
    max-width: 800px;
    padding: 20px;
    box-shadow: 0 0 20px var(--sombra-botao);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    scroll-margin-top: 200px;
}

.moldura-jogo {
    text-align: center;
    width: 100%;
}
/* Texto que fica dentro da moldura do jogo */
.status-sistema {
    color: var(--titulo-jogoarea);
    font-family: 'Spacemono', monospace;
    font-size: 1rem;
    margin-bottom: 40px;
    text-shadow: 0 0 5px rgba(49, 255, 49, 0.7);
}
/* botao para abrir o jogo */
.botao-neon {
    width: 100%;
    max-width: 450px;
    height: 60px;
    background-color: var(--cor-botaojogar);
    color: #000000;
    border: 3px solid var(--cor-botaojogar);
    font-family: 'Silkscreen', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0,3s;
    border-radius: 5px;
    box-shadow: 0 0 15px var(--cor-botaojogar);
}

.botao-neon:hover {
    background-color: var(--cor-hover-menu);
    color: #000000;
    border: 3px solid var(--cor-hover-menu)0;
    box-shadow: 0 0 39px var(--cor-hover-menu);
    transform: scale(1.05);
}

.botao-neon:active {
    transform: scale(0.98);
    box-shadow: 0 0 10px var(--cor-hover-menu);
}
/* Caixa na parte inferior com algumas informações */
.caixa-informativa {
    background-color: var(--fundo-negro);
    border: 3px solid var(--sombra-botao);
    border-radius: 10px;
    width: 95%;
    max-width: 1100px;
    min-height: 250px;
    padding: 30px;
    box-shadow: 0 0 20px var(--sombra-botao);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* titulo da caixa inferior */
.caixa-informativa h2 {
    font-family: 'Silkscreen', sans-serif;
    color: var(--neon-principal);
    text-transform: uppercase;
    margin-bottom: 25px;
    text-shadow: 0 0 5px var(--sombradotexto);
}

.conteudo-informativo {
    width: 100%;
    max-width: 900px;
    text-align: left;
}

.conteudo-informativo p {
    color: var(--neon-suave);
    font-family: 'Spacemono', monospace;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 15px;
}
/* cor do inicio dos textos */
.conteudo-informativo p strong {
    color: var(--cor-hover-menu);
    text-shadow: 0 0 5px var(--sombradotexto);
}
/* parte responsiva */
@media screen and (max-width: 768px) {
    /*  resetando o container principal para ele crescer em outra forma */
    .container-jogo {
        display: flex !important;
        flex-direction: column !important; /* empilha tudo */
        height: auto !important;           /* libera a altura fixa */
        min-height: 100vh !important;      /* garante que ocupe a tela toda */
        padding: 40px 0 !important;        /* espaço no topo e no fundo */
        align-items: center !important;
        justify-content: flex-start !important; /* alinha do topo para baixo */
    }

    /*  ATENÇÃO AQUI: Separando as 3 caixas (Seletores e Login) */
    /* Esse seletor pega as divs diretas (filhas) do container */
    .container-jogo > div, 
    .container-jogo > section,
    .botoes-container,
    .login-container {
        margin-bottom: 60px !important;    /* espaço grande entre cada caixa */
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        width: 100% !important;
    }

    /*  ajuste para os botões dentro das caixas não colarem entre si */
    .btn-personagem, 
    .login-container input {
        margin: 15px 0 !important;         /* Espaço entre um botão e outro */
        width: 85% !important;
        max-width: 300px !important;
    }

    /*  esconde os <br> que podem atrapalhar o Flexbox */
    br {
        display: none !important;
    }
}